@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi.ttf");
  font-display: swap;
}

:root {
  --bg: #f4f4f5;
  --fg: #18181b;
  --p: #22c55e;
}

:root[data-theme="dark"] {
  --bg: #18181b;
  --fg: #f4f4f5;
  --p: #22c55e;
}

html {
  scroll-behavior: smooth;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.link {
  @apply font-bold;
  transition-property: color, border-color;
  transition-duration: 0.3s;
}

.link::after {
  content: "";
  display: flex;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s;
  background-color: currentColor;
}

.link:hover {
  @apply color-primary;
}

.link:hover::after {
  transform: scaleX(1);
}
