@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi.ttf");
  font-display: swap;
}

:root {
  --bg: 95% 0.01 150;
  --fg: 15% 0.03 150;
  --p: 70% 0.125 150;
}

:root[data-theme="dark"] {
  --bg: #18181b;
  --fg: #f4f4f5;
  --p: 70% 0.125 150;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body:has(dialog[open]) {
  overflow: hidden;
}

* {
  @apply border-color-primary/50;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.link {
  @apply font-bold;
  transition-property: color, border-color;
  transition-duration: 0.3s;
}

.link::after {
  content: "";
  display: flex;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s;
  background-color: currentColor;
}

.link:hover {
  /* @apply color-primary; */
}

.link:hover::after {
  transform: scaleX(1);
}

/* .layout {
  display: grid;
  padding: 2rem 1rem;
  @apply max-w-5xl mx-auto;
}

.btn {
  @apply flex gap-2 items-center py-2 px-4 font-medium rounded-lg shadow whitespace-nowrap transition-property-transform duration-[0.5s] bg-bg text-fg hover:-translate-y-1 justify-center disabled:opacity-50;
}

.btn-circle {
  @apply flex gap-2 items-center p-2 font-medium rounded-full shadow whitespace-nowrap transition-property-transform duration-[0.5s] bg-bg text-fg hover:-translate-y-1 justify-center disabled:opacity-50;
}

.input {
  @apply flex w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus:border-green-500 focus:outline-none focus:ring-4 focus:ring-green-500/10 disabled:opacity-50;
} */

/* ,

  // dynamic shortcuts
  [/^variant-(.*)$/, ([, c]) => `bg-${c}-400 text-${c}-100 `],
], */
